<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div id="container">
    <a href="/">Home</a>
    <a href="/butterflies/new">Create a New Butterfly</a>
    <a href="/butterflies">List Butterflies</a>

    <%= yield %>
  </div>
  
</body>
</html>