<h1>Hello World</h1>

<span id="number">Your number will appear here</span><br>

<button id="number_getter">Get a number</button>
<br><br>

<form action="/greeter" method="post" id="contact">
  <input type="text" name="first" placeholder="first">
  <input type="text" name="surname" placeholder="surname">
  <button>Submit</button>
</form>