<a href="/a">A</a>
<a href="/b">B</a>
<br><br>

<form action="/door" method="get">
  <select name="option">
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>
  <button>Submit</button>
</form>