<div>
  <form action="/search" method="get">
    <input type="text" name="query">
    <input type="submit" value="Search!">
  </form>
</div>

<div class="welcome">
  <p id="intro">Welcome to our HTTP Verbs demo</p>
  <p><a href="/contact">Contact</a></p>
</div>

<form action="/subscribe" method="post">
  <input type="text" name="cardholder_name" placeholder="name">
  <input type="text" name="cardnumber" placeholder="number">
  <input type="text" name="ccv" placeholder="CCV">
  <input type="submit" name="Subscribe!">
</form>

