<h1>Input a Receipt</h1>

<form action="/" method="post">
  <input type="text" name="company" placeholder="Company name">
  <input type="text" name="service" placeholder="Service provided">
  <input type="text" name="cost" placeholder="Cost">
  <input type="submit" name="Save Receipt">
</form>