<h1>Secretly Dating!</h1>
<img src="http://images.kpopstarz.com/data/images/full/77981/justin-bieber-miley-cyrus-dating-selena-gomez-liam-hemsworth-no-more.jpg?w=600" alt="miley and biebs" class="gossip">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, magnam, sint ab itaque qui non facilis officiis consequatur similique odio aperiam earum sequi voluptatem iure voluptate doloribus consequuntur eos quidem.</p>