<h1>This is the news</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ratione, sunt, saepe repudiandae debitis inventore non sequi distinctio laudantium odio culpa error esse accusantium perferendis iusto eligendi ullam libero ipsum.</p>